{% extends 'bootstrap/base.html' %}

{% block navbar %}
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('index')}}"> 
                Predected Purchase with Lina's File 
            </a>
        </div>
    </nav>
{% endblock %}

{% block content %}

    <div class="container">
        {% block my_page_content %}
        
        {% endblock %}
    </div>
    <div class="container">
        {% block my_page_content01 %}
        
        {% endblock %}
    </div>

{% endblock %}